<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Size" />
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mpeg" />
        </staticContent>
        <httpRedirect enabled="false" destination="bbit.edu.in/nptel" />
    </system.webServer>
</configuration>
